<body>
    <div class="home">
        <div class="nav">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Concept</a></li>
                <li><a href="#">The Team</a></li>
                <li><a href="#">Lorem</a></li>
                <li><a href="#">Lorem</a></li>
            </ul>

        </div>
    </div>

    <div class="concept">
    
    </div>
    
    <div class="team">
    
    </div>
</body>
