
<!DOCTYPE html>
<html>
<head>
 <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
    <title>Custodian</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div class="home">
        <div class="nav">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Art</a></li>
                <li><a href="#">The Team</a></li>
            </ul>

        </div>
    </div>

    <div class="about">
        <p class="about-txt">Awaken from a long concussion, Eri is alone in a post-apocalyptic world destroyed by pollution, deforestation, natural
        disasters. All familiar humankind, animals, and architecture have been wiped out by an enormous environmental disaster.<br><br><br>
        Eri explores this old yet new decaying world and discovers remnants of ancient spirit animals whom reborn after the
        complete destruction. But the spirits are terrified and struggling to survive in this harsh world and are quickly
        disappearing. Join in the adventure as Eri to seek out the last remaining vegetation and hopefully bring the food back
        in time for the spirits before they are gone forever.</p>
    </div>

    <div class="art">
        <h1>Eri - Character Development</h1>
        <div class="images1">
            <img class="sei" src="https://media.discordapp.net/attachments/564040575024758796/564354726469304351/screenshot001.png?width=430&height=465">
            <img class="seiArt" src="https://media.discordapp.net/attachments/564040575024758796/564044548418961409/chara.png?width=390&height=464">
            <img class="sei2" src="https://media.discordapp.net/attachments/564040575024758796/564354794739728394/screenshot007.png?width=430&height=465">
        </div>

        <h1>Spirit Animals - Character Development</h1>
        <div class="images2">
            <img class="animals" src="https://media.discordapp.net/attachments/564040575024758796/564093066361700352/fox.png?width=762&height=465">
        </div>
    </div>

    <div class="team">
      <div class="member-wrapper">
      </div>
      <div class="member-wrapper">
      </div>
      <div class="member-wrapper">
      </div>
      <div class="member-wrapper">
      </div>
      <div class="member-wrapper">
      </div>
      <div class="member-wrapper">
      </div>
      <div class="member-wrapper">
      </div>
    </div>
</body>
</html>
