// Place all the styles related to the Homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ody {
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
}

.nav ul {
	list-style-type: none;
	margin: 0;
	padding: 30px;
}

.nav li {
	padding: 50px;
	display: inline;
}

.nav a {
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: normal;

	text-decoration: none;
	color: white;
}

.home {
	background-image: linear-gradient(#a5d462, #88ae51);
	height: 100vh;
}

.about {
	background: white;
	height: 100vh;
}

.about-txt {
	padding-top: 10%;
	padding-left: 10%;
	padding-right: 10%;

	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: normal;
	text-align: center;

	color: #000000;
}

h1 {
	padding-left: 15%;
}

.art {
	background: white;
	height: 200vh;
}

.images1 {
	padding: 5%;
}

.sei {
	width: 566px;
	height: 737px;
	padding-left: 10%;
}

.seiArt {
	width: 391px;
	height: 466px;
	padding-left: 5%;
}

.sei2 {
	width: 410px;
	height: 443px;
	padding-left: 40%;
	padding-top: 5%;
}

.animals {
	display: block;
	margin-left: auto;
	margin-right: auto;

	padding: 5%;
}

.team {
	background: white;
	height: 100vh;
}
