// Place all the styles related to the Homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ody {
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
}

.nav ul {
	list-style-type: none;
	margin: 0;
	padding: 30px;
}

.nav li {
	padding: 50px;
	display: inline;
}

.nav a {
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: normal;

	text-decoration: none;
	color: white;
}

.home {
	background-image: linear-gradient(#a5d462, #88ae51);
	height: 100vh;
}

.about {
	background: white;
	height: 100vh;
}

.about-txt {
	padding-top: 10%;
	padding-left: 10%;
	padding-right: 10%;

	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: normal;
	text-align: center;

	color: #000000;
}

.art {
	background: white;
	height: 100vh;
}

.team {
	background-image: linear-gradient(#5c7637, #49751a);
	height: 100vh;
}
